.button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 1.5rem;
  padding: 0;
}

.button.wide {
  grid-column-start: 1;
  grid-column-end: 3;
}

.button.orange {
  background-color: #f5923e;
  color: white;
}

.button:active {
  transform: translateY(1px)
}